@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/proxima-nova-regular.woff2');
  src: local('Proxima Nova'), local('proxima-nova-regular'),
       url('/fonts/proxima-nova-regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/proxima-nova-bold.woff2');
  src: local('Proxima Nova'), local('proxima-nova-bold'),
       url('/fonts/proxima-nova-bold.woff2') format('woff2'),
}

.h1 {
  @apply font-sans;
  @apply font-bold;
  @apply text-h1;
  @apply leading-h1;
  @apply tracking-tighter;
}

.h2 {
  @apply font-sans;
  @apply font-bold;
  @apply text-h2;
  @apply leading-h2;
  @apply tracking-tight;
}

.h3 {
  @apply font-sans;
  @apply font-bold;
  @apply text-h3;
  @apply leading-h3;
  @apply tracking-tight;
}

.base {
  @apply font-sans;
  @apply text-base;
  @apply leading-base;
}

.small {
  @apply font-sans;
  @apply text-small;
  @apply leading-small;
}

.label {
  @apply font-sans;
  @apply text-small;
  @apply leading-small;
  @apply font-bold;
}

.button {
  @apply font-sans;
  @apply text-base;
  @apply leading-base;
  @apply tracking-wide;
}