:root {
  /* Spacers */
  --space-10: 0.625rem;
  --space-16: 1rem;
  --space-26: 1.625rem;
  --space-42: 2.625rem;
  --space-68: 4.25rem;
  --space-110: 6.875rem;
  --space-178: 11.125rem;
  --space-288: 18rem;

  /* Colors */
  --primary: hsl(176, 43%, 58%);
  --primary-l: hsl(176, 43%, 66%);
  --primary-d: hsl(176, 43%, 50%);
  --secondary: hsl(24, 100%, 48%);
  --secondary-l: hsl(24, 100%, 56%);
  --secondary-d: hsl(24, 100%, 40%);
  --text: hsl(240, 3%, 12%);
  --text-l: hsl(0, 0%, 55%);
  --bg-0: hsl(0, 0%, 99%);
  --bg-1: hsl(0, 0%, 98%);
  --bg-2: hsl(0, 0%, 95%);
}

.container {
  width: calc(100% * 0.809);
  margin: 0 auto;
}

@media screen and (min-width: 767.99px) {
  .container {
    width: calc(100% / 1.618);
  }
}


